<div class="container" id="container-body">
      
  <!-- Header -->
  <header class="page-header">
    <ul class="nav nav-pills pull-right">
      <li><h4>Admin</h4></li>
      <li class="span">
        <button id="log_out" class="btn"><i class="icon-off"></i>Log out</button>
      </li>
    </ul>
    <h1>Waiter helper <small>v. 1.0</small></h1>
  </header>
  <!-- /Header -->

  <!-- Admin panel -->
      <div id='menu-container'></div>
      <!-- /Admin panel -->

      <!-- Footer -->
      <footer>
        <div class="centered">DP - 032</div>
      </footer>
      <!-- /Footer -->
    
</div>
