
    <div class="tabbable tabs-left">
     
       <!-- Create new waiter -->
      <h2 class="none float-left">Create new waiter</h2>
      <button id="show-waiter-create" class="btn btn-success"><i class="icon-plus"></i></button>
      <div class="float-clear"></div>

      <div id="waiter-create" class="row indent">
        <div class="span">
          <input type="text" id="name" class="input-medium" value="Waiter name" />
        </div>
        <div class="span">
          <input type="text" id="login" class="input-medium" value="Waiter login"/>
        </div>

        <div class="span">
          <input type="text" id="pass" class="input-medium" value="Waiter password"/>
        </div>
        <div class="span">
          <button id="hide-waiter-create" class="btn btn-success">Create</button>
        </div>
      </div>
      <hr />    
      <!-- /Creat new waiter -->  

      <!-- Waiter list -->
      <h2 class="none">List of waiters</h2>
      <div class="accordion indent" id="waiter-list">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#waiter-list" href="#result-1">Ivanov</a>
          </div>
          <div id="result-1"  class="accordion-body collapse">
            <div class="accordion-inner">
              <table>
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Login</td>
                    <td>Password</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="text" class="input-medium" value="Ivanov" />
                    </td>
                    <td>
                      <input type="text" class="input-medium" value="iVan" />   
                    </td>
                    <td>
                      <input type="text" class="input-medium" value="1111" />
                    </td>
                    <td>
                      <button class="btn btn-warning">Change</button> 
                    </td>
                    <td>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#waiter-list" href="#result-2">Petrov</a> 
          </div>
          <div id="result-2" class="accordion-body collapse ">
           <div class="accordion-inner">…Текст и контент…
              <button class="btn btn-danger">Delete</button>
           </div>
          </div>
        </div>
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#waiter-list" href="#result-3">Sidorov</a>
          </div>
          <div id="result-3" class="accordion-body collapse ">
            <div class="accordion-inner">…Текст и контент…
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Waiter list -->

    </div>
  <!-- /Manage personal tab -->