<div class="tabbable tabs-left">
  
  <!-- Creat new waiter -->
    <h2 class="none float-left">Create new waiter</h2>
    <button id="show-waiter-create" class="btn btn-success"><i class="icon-plus"></i></button>
    <div class="float-clear"></div>

    <div id="waiter-create" class="row indent">
      <div class="span">
        <input type="text" id="name" class = "addField" class="input-medium" value="Waiter name" />
      </div>
      <div class="span">
        <input type="text" id="login" class = "addField" class="input-medium" value="Waiter login"/>
      </div>

      <div class="span">
        <input type="text" id="pass" class = "addField" class="input-medium" value="Waiter password"/>
      </div>
      <div class="span">
        <button id="hide-waiter-create" class="btn btn-success">Create</button>
      </div>
    </div>
    <hr />    
    <!-- /Creat new waiter -->  
</div>
<!-- Waiter list -->
<h2 class="none">List of waiters</h2>
  <div class="accordion indent" id="waiter-list"></div>
<!-- /Waiter list -->