 <table class="menu-dishes">
							<tr>
								<td >
									<div class="icon-food"></div>
								</td>
								<td>
									<div class="dish"><%= name %></div>
								</td>
								<td>
									<div  class="pull-right price-width"><%= price %> $</div>
								</td>
								<td>
									<div class="pull-right add-button"><i id="minus_rows" class="icon-double-angle-right icon-2x add"></i></div>
								</td>
							</tr>
</table>
