<div id="close-description"><i class="icon-remove-sign"></i></div>
<img class="description-image" width="200" src="<%= image_url %>" />
<span class="description-name"><%= name %></span>
<p class="description-text"><%= description %></p>
        
