
  <h3 >Categories</h3>
  <div class="row" id="show-category">
    <div class="span">
      <input type="text" class="category-name" id="category-name" value="Name"/>
    </div>
  </div>
 <button id="add-category-btn" class="btn btn-success">
 <i class="icon-plus"></i>
 </button>
