
          <h3>Dishes</h3>
          <div class="row" id="show-dishes">

            <div class="span">
              <input type="text" class="dishes-name" id="dishes-name" value="Name"/>
            </div>

            <div class="span">
              <select id="select-category">
                <option>Select category</option>
                <option>Any category</option>
                <option>Any category</option>
                <option>Any category</option>
              </select>
            </div>
            
            <div class="span">
            <textarea rows="1" class="dishes-discription" id="dishes-discription">Discription</textarea>
            </div>

            <div class="span">
              <input type="text" class="dishes-price" id="dishes-price" value="Price"/>
            </div>
          </div>

          <button id="add-dishes-btn" class="btn btn-success">
            <i class="icon-plus"></i>
          </button>
        