<h3>Dishes</h3>
<div class="row" id="show-dishes">

  <div class="span">
    <input type="text" class="dishes-name" id="dishes-name" placeholder="Title"/>
  </div>

  <div class="span">
    <select id="select-category">
      <option>Select category</option>
      <% for (var i = 0; i < categories.length; i++) { %>
      <option><%= categories[i].attributes.name %></option>
      <% } %>
    </select>
    
  </div>

  
  <div class="span">
  <textarea rows="1" class="dishes-discription" id="dishes-description" placeholder="Description"></textarea>
  </div>

  <div class="span">
  <input type="text" class="dishes-image" id="dishes-image" placeholder="URL"/>
  </div>

  <div class="span">
    <input type="text" class="dishes-price" id="dishes-price" placeholder="Price"/>
  </div>

  <button id="create-dishes-btn" class="btn btn-success span">
    <i class="icon-plus"></i>
  </button>

</div>

<button id="add-dishes-btn" class="btn btn-success">
  <i class="icon-plus"></i>
</button>
