  <div class="tabbable tabs-left">
  <div id="menu-box">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <span class="brand">Select group</span>
                <ul class="nav" id="groups"></ul>
              </div>
            </div>
          </div>
          
          <!-- Add category -->
          <div id="add-category-form">
                                
          </div>

          <div class="float-clear"></div>   

          <!-- Categories  -->
          <div class="accordion" id="categories"></div>
          <!-- /Add category -->

          <!-- Add dishes -->
          <div id="add-dishes-form">
            
          </div>

          <div class="float-clear"></div>   

          <!-- Items  -->
          <div class="accordion" id="items"></div>
          <!-- /Add dishes -->
      
        </div>
      </div>