
  <div id="content" class="gradient">

     <div id="form">
           <p class="title">R-Soft</p>
           <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
       
       <p><%= f.text_field :username, :autofocus => true, :id => 'login' %></p>
       
       <p><%= f.password_field :password, :id => 'password', :size => '60' %></p>
       
       <p><%= f.submit "Sign in", :class => "gradient-grey", :id => 'button' %></p>
    </div>
    <% end %>
  </div>
