 <table class="menu-dishes">
							<tr>
								<td >
									<div class="icon-food"></div>
								</td>
								<td>
									<div class="dish"><%= name %></div>
								</td>
								<td>
									<div  class="pull-right"><%= price %> $</div>
								</td>
								<td>
									<div class="pull-right pull-right"><button class="icon-share-alt add" style="width: 50px"></button></div>
								</td>
							</tr>
</table>