
	<h1 class="centered">Menu</h1>  
	<div id="menu-module">
		<ul id="menu">
			<li class="menu-group"><i class="icon-minus-sign"></i>Food
				<ul>
					<li class="menu-categories"><i class="icon-minus-sign"></i>Salads
						<table class="menu-dishes">
							<tr>
								<td >
									<div class="icon-food"></div>
								</td>
								<td>
									<div class="dish">Some looooooong text</div>
								</td>
								<td>
									<div  class="pull-right">111$</div>
								</td>
								<td>
									<div class="icon-double-angle-right pull-right pull-right"></div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="icon-food"></div>
								</td>
								<td>
									<div class="dish">Some text</div>
								</td>
								<td>
									<div class="pull-right">11$</div>
								</td>
								<td>
									<div class="icon-double-angle-right pull-right pull-right"></div>
								</td>
							</tr>
						</table> 
					</li>
					<li class="menu-categories"><i class="icon-plus-sign"></i>Soup</li>
					<li class="menu-categories"><i class="icon-plus-sign"></i>Meat</li>
				</ul>
			</li>
			<li class="menu-group"><i class="icon-plus-sign"></i>Drink</li>
			<li class="menu-group"><i class="icon-plus-sign"></i>Desert</li>
		</ul>
	</div>
