
  <div class="wrap">
    <h1 class="centered">Menu</h1>  
    <div id="menu-module">
      <ul id="menu">
        <li class="menu-group"><i class="icon-minus-sign"></i>Food
          <ul>
            <li class="menu-categories"><i class="icon-minus-sign"></i>Salads
              <ul>
                <li class="menu-dishes">
                  <table>
                    <tr>
                      <td><i class="icon-food"></td>
                      <td class="dishes">salat</td>
                      <td><h3>10$</h3></td>
                      <td><i class="icon-double-angle-right pull-right"></td>
                    </tr>
                  </table>
                </li>
                <li class="menu-dishes">
                  <table>
                    <tr>
                      <td><i class="icon-food"></td>
                      <td class="dishes">salat</td>
                      <td><h3>10$</h3></td>
                      <td><i class="icon-double-angle-right pull-right"></td>
                    </tr>
                  </table>
                </li>
                <li class="menu-dishes">
                  <table>
                    <tr>
                      <td><i class="icon-food"></td>
                      <td class="dishes">salat</td>
                      <td><h3>10$</h3></td>
                      <td><i class="icon-double-angle-right pull-right"></td>
                    </tr>
                  </table>
                </li>
              </ul>
            </li>
            <li class="menu-categories"><i class="icon-plus-sign"></i>Soup</li>
            <li class="menu-categories"><i class="icon-plus-sign"></i>Meat</li>
          </ul>
        </li>
        <li class="menu-group"><i class="icon-plus-sign"></i>Drink</li>
        <li class="menu-group"><i class="icon-plus-sign"></i>Desert</li>
      </ul>
    </div>
  </div>
  
