<td><i class="icon-double-angle-left icon-2x"></i></td>
<td>
  <div class="overflow"><%= title %></div>
</td>
<td>
  <button class="pull-left btn btn-mini">-</button>
  <div class="capacity"><%= number %></div>
  <button class="pull-right btn btn-mini">+</button>
</td>
<td><span class="summary"><%= cost %></span> грн.</td>