<tr>
  <td><i class="icon-double-angle-left icon-2x"></i></td>
  <td>
    <div class="overflow">Some food </div>
  </td>
  <td>
    <button class="pull-left btn btn-mini">-</button>
    <div class="capacity">9</div>
    <button class="pull-right btn btn-mini">+</button>
  </td>
  <td>9</td>
</tr>