<tr>
  <td>
    <i class="icon-double-angle-left icon-2x"></i>
  </td>
  <td>
    <div class="overflow"><%= title %></div>
  </td>
  <td>
    <button class="btn btn-mini">&nbsp;-&nbsp;</button>
    <span><%= number %></span>
    <button class="btn btn-mini">&nbsp;+&nbsp;</button>
  </td>
  <td><%= cost %></td>
</tr>