<td><i id="minus_rows" class="icon-double-angle-left icon-2x"></i></td>
<td>
  <div class="overflow" <% delivered==1? class="done": class="not_done"%> ><%= title %></div>
</td>
<td>
  <button class="pull-left btn btn-mini" id="decrease">-</button>
  <div class="capacity"><%= number %></div>
  <button class="pull-right btn btn-mini" id="increase">+</button>
</td>
<td><span class="summary"><%= cost %></span> грн.</td>