

    <h1 class="centered">Order</h1>
    <div id="order-module">
      <table class="table table-striped">
        <tfoot>
          <tr>
            <td><i class="icon-credit-card icon-2x"></i></td>
            <td>Total</td>
            <td colspan="2"><span id="total"><%= total %></span> грн.</td>
          </tr>
        </tfoot>
        <tbody id="order-items">
        </tbody>
      </table> 
    <div>
      <div class="pull-left">
        <button id="cancel_order" class="btn btn-danger">
          <i class="icon-remove"></i> Cancel order
        </button>
      </div>
      <div class="pull-right">
        <button id="close_order" class="btn btn-success">
          <i class=" icon-ok"></i> Close order
        </button>
      </div>
    </div>
    </div>

