<div class="span4">
  <div class="wrap">
    <h1 class="centered">Order</h1>
    <div id="check-module">
      <table class="table table-striped">
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td><i class="icon-credit-card icon-2x"></i></td>
            <td>Total</td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table> 
    <div>
      <div class="pull-left">
        <button id="clear_order" class="btn btn-small btn-danger">
          <i class="icon-remove"></i> Clear order
        </button>
      </div>
      <div class="pull-right">
        <button id="close_order" class="btn btn-small btn-success">
          <i class=" icon-ok"></i> Close order
        </button>
      </div>
    </div>
  </div>
</div>