<header class="page-header">
  <ul class="nav nav-pills pull-right">
    <li><h4>Waiter</h4></li>
    <li class="span">
      <button id="log_out" class="btn"><i class="icon-off"></i>Log out</button>
    </li>
  </ul>
  <h1>Waiter helper <small>v. 1.0</small></h1>
</header>
<div id="row-container" class="row">
  <div class="span3" id="tables-container"></div>
  <div class="span5" id="menu-container"></div>
  <div class="span4" id="order-container"></div>
</div>
<footer>
  <div class="centered">DP - 032</div>
</footer>