

    <h1 class="centered">Tables</h1>
    <div id="table-module">
      
    </div>

    <div class="centered">
      <button id="map" class="btn btn-large btn-info"><i class="icon-info-sign"></i> Map of hall</button>
    </div>

