<div class='row total'>
  <div class='span4 ralign'>Total: <span id="total"><%= total %> грн.</span></div>
</div>
<div class="pull-left">
  <button id="cancel_order" class="btn btn-danger">
    <i class="icon-remove"></i> Cancel order
  </button>
</div>
<div class="pull-right">
  <button id="close_order" class="btn btn-success">
    <i class=" icon-ok"></i> Close order
  </button>
</div>