<div class="tabbable tabs-left">
	<!-- Content for manage hall -->
	<div id="table-centered">
		<h2 class="none centered">Add new table in the hall</h2>
	
		<div id="hall-wrap"></div>

	</div>
</div>