<div class="tabbable tabs-left">
	<!-- Content for manage hall -->
	<div id="table-centered">
		<h2 class="none centered">Add new table in the hall</h2>
	
		<div id="hall-wrap"></div>
        <div class="float-clear"></div>
                    
  <div id="edit-table" >
    <h4 class="centered">Edit table</h4>
    <table class="indent center-box" >
      <thead>
        <tr>
          <td>
            <label for="table-description" class="centered">Edit description</label>
          </td>
          <td>
            <label for="table-capacity">Capacity</label>
          </td>
          <td>
            <label class="centered">Select the form</label>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="input-medium" id="table-description" />
          </td>
          <td>
            <select id="table-capacity" class="input-mini">
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </td>
          <td>
          <div id="edit-selected" class="btn-group" data-toggle="buttons-radio">
             <button id = "selected-circle" class="btn"><div class="circle"></div></button>
            <button id = "selected-rectangle" class="btn rec-btn"><div class="rectangle"></div></button>
            <button id = "selected-square" class="btn"><div class="square"></div></button>
          </div>
          </td>
          <td >
            <button id = "edit-select-btn" class="btn btn-warning">Edit table</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
  
</div>
	</div>
</div>