<div id="hall-form"> 
	<h4 class="centered">Hall<br />form</h4>
	<div class="btn-group" data-toggle="buttons-radio" id="hall-form-btn">
	  <button id="circle-hall" class="btn active">
		<div class="circle"></div>
	  </button><br />
	  <button id="rectangle-hall" class="btn rec-btn">
		<div class="rectangle"></div></button><br />
	  <button id="square-hall" class="btn">
		<div class="square"></div>
	  </button>
	</div>
</div>
								
<div id="map-view"></div>

<div id="table-form">
	<h4 class="centered">Table<br />form</h4>
	<div class="btn-group" data-toggle="buttons-radio" id="table-form-btn">
	  <button id="circle-table" class="btn active">
		<div class="circle"></div>
	  </button><br />
	  <button id="rectangle-table" class="btn rec-btn">
		<div class="rectangle"></div>
	  </button><br />
	  <button id="square-table" class="btn">
		<div class="square"></div>
	  </button>
	</div>
</div>
